* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    background-image: url("wine-cellar.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* margin-left: 1200px; */
.container {
    display: flex;
    margin-top: 100px;
}

.vinlotteri-oppsett {
    padding: 15px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #291f0f, #4a3b27, #000000);
    width: 350px;
    height: fit-content;
}

.påmeldte {
    background: linear-gradient(to bottom, #dcb47c, #f1d0ac, #d6a86f);
    width: fit-content;
    min-height: 200px;
    max-height: fit-content;
    padding: 10px;
    border-radius: 10px;
}

.påmeldte h2 {
    font-size: 25px;
    font-style: italic;
}

.påmeldte li {
    list-style: none;
    font-size: 24px;
    margin: 5px 0;
    cursor: pointer;
    width: fit-content;
}

.påmeldte li:hover {
    text-decoration: line-through;
}

.antall-vinnere {
    background: linear-gradient(to bottom, #dcb47c, #f1d0ac, #d6a86f);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.antall-vinnere h2 {
    font-size: 25px;
    font-style: italic;
}

.antall-vinnere input[type=text] {
    text-align: center;
    font-size: 25px;
    outline: none;
    appearance: none;
    width: 50px;
    margin-top: 10px;
    border-radius: 3px;
    border: 0;
    background: #fff;
    font-weight: 600;
}

button {
    font-size: 20px;
    appearance: none;
    border: 0;
    background: linear-gradient(to bottom, #754318, #31231d);
    color: #f8dfb1;
    font-weight: 600;
    width: 160px;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:last-child {
    margin-left: 49px;
    width: 136px;
}

button:hover {
    background: linear-gradient(to bottom, #754318, #31231d);
    color: #e2c198;
}

#meny {
    display: flex;
    margin-left: 25px;
    border-radius: 5px;
    justify-content: space-around;
    visibility: visible;
    padding: 15px;
    height: fit-content;
    background: linear-gradient(to bottom, #291f0f, #4a3b27, #000000);
}

#meny h1 {
    font-size: 30px;
    font-style: italic;
    cursor: pointer;
    margin-bottom: 15px;
}

#meny h1:hover {
    text-decoration: underline;
}

#meny div {
    background: linear-gradient(to bottom, #dcb47c, #f1d0ac, #d6a86f);
    padding: 10px;
    border-radius: 10px;
}

#meny div:first-child {
    margin-right: 10px;
}

#meny div:last-child {
    margin-left: 10px;
}

#personer li {
    list-style: none;
    font-size: 24px;
    margin: 5px 0;
    cursor: pointer;
    width: fit-content;
}

#personer li:hover {
    text-decoration: underline;
}

#utførteTrekninger li {
    list-style: none;
    font-size: 24px;
    margin: 5px 0;
    width: fit-content;
}